.about-section > h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.about-section > p {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-dark-gray);
  margin-bottom: 30px;
  text-align: justify;
}

.about-section > h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-section > p.-last {
  margin-bottom: 50px;
}
