{% extends "template.njk" %}

{% block head %}
  <title>Foodfy</title>
  <link rel="stylesheet" href="/css/banner.css"/>
  <link rel="stylesheet" href="/css/cards-container.css"/>
  <link rel="stylesheet" href="/css/modal.css"/>
{% endblock %}

{% block content %}
  <div class="main-banner">
    <div class="content">
      <h1 class="title">As melhores receitas</h1>
      <p class="paragraph">
        Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
      </p>
    </div>
    <img src="/assets/chef.png" alt=""/>
  </div>

  <section class="cards-container">
    <h2>Mais acessadas</h2>

    {% for recipe in recipes %}

      {% if loop.index <= 6 %}
        <article class="card">
          <img src="{{recipe.image}}" alt="Foto de {{recipe.title}}"/>
          <div class="content">
            <h3 class="title">{{recipe.title}}</h3>
            <p class="chef">{{recipe.author}}</p>
          </div>
        </article>
        {%endif%}

        {%endfor%}

      </section>

    {% endblock %}