{% extends "template.njk" %}

{% block head %}
  <title>Receitas - Foodfy</title>
  <link rel="stylesheet" href="/css/banner.css"/>
  <link rel="stylesheet" href="/css/cards-container.css"/>
  <link rel="stylesheet" href="/css/modal.css"/>
{% endblock %}

{% block content %}

  <section class="cards-container">
    {% for recipe in recipes %}

      <article class="card">
        <img src="{{recipe.image}}" alt="Foto de {{recipe.title}}"/>
        <div class="content">
          <h3 class="title">{{recipe.title}}</h3>
          <p class="chef">{{recipe.author}}</p>
        </div>
      </article>

      {%endfor%}

    </section>

  {% endblock %}